<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1> Welcome to text analyazer. Enter your text Below</h1>
<form action='analyze' method='get'>
    <textarea name = 'text' spellcheck="false" style="margin: 0px; width: 1313px; height: 208px;"></textarea><br>
    <input type="checkbox" name="'removepunc"> Remove Punchuations <br >
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> NewLine Remover <br>
    <input type="checkbox" name="spaceremover"> Space Remover <br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover <br>

    <input type="checkbox" name="charcount"> Character Count <br>

    <button type='submit'>Analyze Text</button>
</form>

</body>
</html>